/* general */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* header */
header {
    height: 100px;
    padding: 0px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to top, black, grey);
}

#search-header input {
    padding: 8px;
}

#search-header button {
    padding: 8px;
    border: 1px solid white;
    background-color: inherit;
    color: white;
}

h1 {
    color: red;
    font-family: sans-serif;
    text-transform: uppercase;
}

/* body */
body {
    background-image: url("img/background.jpg");
}

main {
    display: flex;
    justify-content: space-around;
}

/* sidebar(filters) */
aside {
    margin-top: 80px;
    background-image: linear-gradient(to top, black, grey);
    border: 3px solid silver;
    border-radius: 5px;
    padding: 16px;
    align-self: flex-start;
}

label {
    color: white;
}

h2 {
    text-decoration: underline;
    text-transform: uppercase;
}

div.search-filter {
    padding: 16px 0px;
}

button.search-filter {
    margin: auto;
    padding: 8px;
    background-color: red;
    font-size: 22px;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 3px;
}

/* container(search-results) */
#search-wrapper {
    margin-top: 20px;
    width: 70vw;
}

/* tab elements */
.result-tab {
    float: left;
    width: 50%;
    height: 60px;
    background-color: #a8b1c3;
    color: white;
    text-align: center;
    padding: 20px 0px;
    cursor: pointer;
}

.active-tab {
    background-color: #505050;
    border-top: 2px solid red;
    border-right: 2px solid red;
    border-left: 2px solid red;
}

.tot-result {
    background-color: white;
    border-radius: 50%;
    color: black;
    padding: 4px;
}

/* container movie/tv card */
.result-wrapper {
    display: none;
    width: 100%;
    background-image: linear-gradient(to top, black, grey);
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    border-left: 1px solid white;
    color: white;
}

.active-wrapper {
    display: block;
}

/* page buttons */
.page-counter {
    padding: 16px;
    text-align: center;
}

button.page-btn {
    padding: 8px;
    margin: 0px 6px;
    background-color: black;
    border: 1px solid red;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

button.active-btn {
    background-color: red;
    border: 1px solid white;
    color: black;
    text-decoration: underline;
}

/* results page */
.container {
    display: none;
    margin: auto;
    width: 95%;
    padding: 16px 0px;
}

.active-page {
    visibility: visible;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* movie/tv card */
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 200px;
  height: 250px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  margin: 8px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color:#505050;
  color: white;
  transform: rotateY(180deg);
  padding: 8px;
}

p.card-title {
    text-align: center;
    color: red;
    font-weight: bold;
    padding: 8px 0px;
}

p.original-title-card {
    font-size: 13px;
    padding: 4px 0px;
    text-transform: uppercase;
}

p.original-title-card span{
    text-transform: none;
}

p.genre-card {
    font-size: 13px;
    padding: 4px 0px;
    text-transform: uppercase;
}

p.genre-card span{
    text-transform: none;
}

p.flag {
    text-align: center;
}

img.flag {
    width: 20px;
    padding: 4px 0px;
}

p.rating-card {
    background-color: black;
    padding: 4px;
    text-align: center;
}

.fa-star {
    color: yellow;
}
